<div class="center hero-unit">
		
		<h1>Welcome to Umich Startups</h1>
		<h2>
			The premier startup spot for inspired individuals at the University of Michigan
		</h2>

		  
		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

