<div class="join-company-form">
	<% if current_user.member?(company) %>
		<%= render partial: 'companies/leave_company', locals: {company: company } %>
	<% else %>
		<%= render partial: 'companies/join_company', locals: { company: company } %>
	<% end %>
</div>