// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.single-company {
	border: 1px solid lightgray;
	min-height: 200px;
	margin-top: 10px;
}

.company-header { 
	text-align: center;
}

.company-title {
	display: inline;
}

.company-about {
	padding-top: 1em;
	line-height: 2em;
}

.company-mission {
	display: inline;
}

.company-description {
	display: inline;

}

.small-textarea {
	height: 3em;
}

.medium-textarea {
	height: 6em;
}

li{
	h2{
		display: inline;
	}
	form{
		display: inline;
	}
}

ul.companies {
	li {
		padding-bottom: 20px;
		list-style-type: none;
	}
}